In [1]:
import pandas as pd

In [2]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
df=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])

In [5]:
df

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [6]:
d1=pd.Series({"bangla":20,"english":40,"math":50,"physics":60})

In [7]:
d1

bangla     20
english    40
math       50
physics    60
dtype: int64

In [16]:
d2={"b":"bangla","d":"english","a":"math","c":"chemistry"}

In [17]:
pd.Series(d2,index=["a","b","c","d"])

a         math
b       bangla
c    chemistry
d      english
dtype: object

In [18]:
s2=pd.Series([1,2,3,4,4,5,6,7,8])

In [19]:
s2

0    1
1    2
2    3
3    4
4    4
5    5
6    6
7    7
8    8
dtype: int64

In [20]:
s2[: 4]

0    1
1    2
2    3
3    4
dtype: int64

In [21]:
s2[-2 :]

7    7
8    8
dtype: int64

In [22]:
s3=s2+10

In [23]:
s3

0    11
1    12
2    13
3    14
4    14
5    15
6    16
7    17
8    18
dtype: int64

In [24]:
df=pd.DataFrame({"Subject_Name":["bangla","english","math","physics","chemistry","biology"],"Marks":[20,30,40,50,60,70]})

In [25]:
df

  Subject_Name  Marks
0       bangla     20
1      english     30
2         math     40
3      physics     50
4    chemistry     60
5      biology     70